/* Section ------------------ */

.pane.sections-list {
  padding: 2em;
  display: flex;
  flex-direction: column;
  background: url(../assets/images/htmlbg.png) repeat;
}

.app-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;

  /* Hide */
  pointer-events: none;
  opacity: 0;
  transform: translateX(-20px);
  transition: visibility 0s .12s linear , opacity .12s ease-in, transform .12s ease-in;
}
.app-section.is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: visibility 0s 0s linear , opacity .36s ease-out, transform .36s ease-out;
}

span.vert-space {
  display: block;
  margin-top: 0.3em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.absence_table_container,
.early_table_container,
.late_table_container {
  width: 75%;
  margin: 0 auto;
  border: 1.5px solid black;
}

thead {
  text-align: center;
}

table thead tr th {
  font-weight: bold;
  font-size: medium;
}

table tbody tr td:nth-of-type(1) {
  text-align: center;
  vertical-align: middle;
}

table tbody tr td:nth-of-type(2) {
  text-align: center;
  vertical-align: middle;
}

table tbody tr td:nth-of-type(3) {
  text-align: center;
  vertical-align: middle;
}

table tbody tr td:nth-of-type(4) {
  text-align: center;
  vertical-align: middle;
}

#early_tbody tr td:nth-of-type(6) {
  text-align: center;
  vertical-align: middle;
}

#late_tbody tr td:nth-of-type(6) {
  text-align: center;
  vertical-align: middle;
}
