include mixins/navbar-mixin.pug

doctype html
html(lang="en")
  head
    block head
      block title
        title WFO Attendance Updater
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      block styles
        link(href='styles/photonkit/css/photon.min.css', rel='stylesheet', type='text/css')
        link(href='styles/global.css', rel='stylesheet', type='text/css')
        link(href='styles/sidebar.css', rel='stylesheet', type='text/css')
        link(href='styles/sections.css', rel='stylesheet', type='text/css')
        link(href='styles/c3.min.css', rel='stylesheet')
        link(href='styles/date_picker/default.css', rel='stylesheet')
        link(href='styles/date_picker/default.date.css', rel='stylesheet')
        link(href='styles/print.css', rel='stylesheet')

      script(src='app.js')
      script(type='text/javascript', src='lib/pagination.js')
      script.
        window.$ = window.jQuery = require('jquery')
        var query_default = require('./main-process/db/queries/default_queries.js')
        var reload_page = require('./assets/js/updaters/reload_page.js')
        var execute_query_and_build_abs_table = require('./assets/js/pagination_table_builders/abs_table_builder.js')
        var execute_query_and_build_early_table = require('./assets/js/pagination_table_builders/early_table_builder.js')
        var execute_query_and_build_late_table = require('./assets/js/pagination_table_builders/late_table_builder.js')
        var mark_abs_dnc_by_id = require('./assets/js/updaters/abs_mark_dnc.js')
        var unmark_abs_dnc_by_id = require('./assets/js/updaters/abs_un_mark_dnc.js')
        var mark_early_dnc_by_id = require('./assets/js/updaters/early_mark_dnc.js')
        var unmark_early_dnc_by_id = require('./assets/js/updaters/early_un_mark_dnc.js')
        var mark_late_dnc_by_id = require('./assets/js/updaters/late_mark_dnc.js')
        var unmark_late_dnc_by_id = require('./assets/js/updaters/late_un_mark_dnc.js')

  body
    .window

      .window-content
        .pane-group

          +navbar_builder('Sections')

          block content

    block scripts
      script(type='text/javascript', src='lib/nav.js')
      script(type='text/javascript', src='assets/js/d3.min.js')
      script(type='text/javascript', src='assets/js/c3.min.js')
      script(type='text/javascript', src='lib/ex-links.js')
      script(type='text/javascript', src='assets/js/date_picker/picker.js')
      script(type='text/javascript', src='assets/js/date_picker/picker.date.js')
